
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../files/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   /* background-color: #f4f4f4;*/
}
header {
    background-color: #09418088;
    background: -webkit-linear-gradient(right,#09418088,rgba(28,56,129,255));
    color: #fff;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
        white-space: nowrap;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    position: relative;
    margin: 0 15px;
}
.menu li ul {
    display: none;
    position: absolute;
    background-color: #09418088;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    list-style: none;
    padding: 10px;
   /* white-space: nowrap;
*/
}

.menu li:hover ul {
    display: block;
}
/*.menu :hover{
    color:red;
    text-decoration: underline; /*زیر همه موارد لیست کشویی خط می اندازد*/

.menu a {
    color:whitesmoke;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}
.menu li:hover > a {
    color: rgb(238, 255, 0); /* تغییر رنگ متن */
    text-decoration: underline; /* زیرخط‌دار شدن هر گزینه.*/
}

.cover{
    border-radius: 2000px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  
}

.duble.cover{
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);   
}

form{
    color: white;
    margin: 200px 100px 200px 40px;


}

.form-container {
    display: flex;
    flex-direction: column; /* قرار دادن فیلدها در یک ستون */
    width: 300px; /* عرض فرم */
    margin: 70px 100px; /* مرکز کردن فرم */
}
.form-row {
    margin-bottom: 10px; /* فاصله بین فیلدها */
}
label {
    margin-bottom: 5px; /* فاصله بین برچسب و فیلد ورودی */
}
input[type="text"], input[type="password"], input[type="number"] {
    width: 100%; /* عرض کامل فیلدها */
    padding: 8px; /* Padding برای زیبایی */
    box-sizing: border-box; /* شامل padding در عرض */
}

#sex{
    display: flex;
}

.mainlogo {
    opacity: 1; /* اوپاسیتی کامل */
    transition: opacity 0.3s ease, transform 0.6s ease; /* انتقال نرم برای چرخش و اوپاسیتی */
    display: inline-block; 
}

.mainlogo:hover {
    opacity: 0.8; /* اوپاسیتی در هاور */
    transform: rotate(360deg); /* Rotate by 20 degrees on hover */
    transform-origin: center;
}
