
.cover{
    border:5px solid rgb(4, 103, 195);
    background-color:rgba(2, 30, 74, 0.607);
    height:2709px;  /*height: 74.49%;*/
    margin:15px 300px 10px 250px;  /*margin: 0.69% 13.89% 0.46% 11.57%;*/
    width:1000px; /*width: 59.3%;*/
}

.courses {
    background-color: rgb(129, 242, 255);
    border: 1px solid #ddd;
    border-radius: 30px 20px;
    padding: 20px;
    margin: 30px 100px;
    width: 800px;
    height: 160px;
    direction: rtl;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 5px 5px 10px rgb(49, 49, 49);
}


/*ظاهر خود لپ تاپ*/
  @media screen and (max-width: 1500px) {
 body{
        overflow: auto;
      }
.mainlogo, footer, .userhelp {
  visibility: hidden;
}
}
  
/* Media Queries - Tablet */
@media screen and (max-width: 1024px) {
    .cover, select, table {
      max-width: 100%;
      margin: 2% 0;
      overflow: auto;
    }
    body {
    background-image: none;
      background-color: rgb(23, 42, 138);
    }
    .long-text{
      width: 100%;
      margin-right: 0;
    }
    .mainlogo, footer, .userhelp {
      visibility: hidden;
    }
  }
  
  /* Media Queries - Mobile */
  @media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .cover{
      width: 100%;
      margin: 2% 0;
    }
    body {
      background-color: rgb(23, 42, 138);
    }
    .product-intro, .product-achivments {
      width: 100%;
    }
    .long-text{
      width: 100%;
      margin-right: 0;
    }
    .mainlogo, footer, .userhelp {
      visibility: hidden;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .cover, .comment-section, #comments-container, .product-intro, .product-achivments {
      width: 100%;
      margin: 1% 0;
    }
    body {
      background-color: rgb(23, 42, 138);
    }
    .product-intro, .product-achivments {
      width: 100%;
    }
    .long-text, #attention {
      width: 100%;
      margin-right: 0;
    }
    .mainlogo, footer, .userhelp {
      visibility: hidden;
    }
  }

  hr {
    border: inset 2px #00d9ff;;
    border-radius: 12px;
    margin: 20px 0; 
    opacity: 0.7;
}


.word-search{
  float: left;
}

.highlight {
  color: red;
}

#text-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

#text-pic:hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03); 
}

.text{
    width: 80%;
    margin: 0 
}
