
*{
  font-family: f4;
}

*::selection{background-color: #00492c;color:#2cffb5;}

.form-container {
    display: flex;
    flex-direction: column; /* قرار دادن فیلدها در یک ستون */
    max-width: 90%;
    /*width: 300px; /* عرض فرم */*/
   /* margin: 70px 100px; /* مرکز کردن فرم */*/
}
.form-row {
    margin-bottom: 10px; /* فاصله بین فیلدها */
}
label {
    margin-bottom: 5px; /* فاصله بین برچسب و فیلد ورودی */
}
input[type="text"], input[type="password"], input[type="number"] {
    width: 100%; 
    padding: 8px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .container img {
    width: 50%;
  }
  
  .form-container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

  }
  
  input[type="submit"], input[type="reset"] {
    width: 10%; 
    padding: 4px; 
    font-weight: bold;
    cursor: pointer;
}

  #login {color: rgb(129, 12, 12)}
  #login:active {color: rgb(255, 149, 0)}
  #login:visited {color: rgba(123, 0, 255, 0.855)}

  @font-face {
    font-family:f1 ;
    src: url(../fonts/IRANSans-Bold-web.ttf);
  }
  @font-face {
    font-family:f2 ;
    src: url(../fonts/IRANSans-Medium-web.ttf);
  }
  @font-face {
    font-family:f3 ;
    src: url(../collection-persian-web-font/tanha-font-v0.9/Tanha.ttf);
  }
  @font-face {
    font-family:f4 ;
    src: url(../collection-persian-web-font/other-font/pixelboy-BBadr.ttf);
  }
  @font-face {
    font-family:f5 ;
    src: url(../collection-persian-web-font/other-font/pixelboy-BKoodakBold.ttf);
  }
  @font-face {
    font-family:f6 ;
    src: url(../collection-persian-web-font/other-font/pixelboy-BNazanin.ttf);
  }

  
/* Media Queries - Tablet */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .container img, .form-container {
    width: 100%;
  }
}

  /* Media Queries - Mobile */
@media (min-width: 320px) and (max-width: 1030px) {
  .container {
    flex-direction: column;
  }

  .container img, .form-container {
    width: 100%;
  }

  body {font-size: 14px}
  img {display: none}
}
  