
#next-right{
    position: absolute;
    width: 35px;
    margin: 5% 0%;
    margin-left: 650px;
    transition: transform 0.3s ease; 
}

#next-left {
    position: absolute;
    width: 35px;
    transform: scaleX(-1);
    margin: 5% 0%;
    margin-right: 650px;
    transition: transform 0.3s ease; 
  }

  #next-right:active{
    scale: 1.1;
}

    #next-left:active{
        scale: 1.1;
    }

    @font-face {
        font-family:f1 ;
        src: url(../fonts/IRANSans-Bold-web.ttf);
      }
    
      /* صفجه خطا */
  .error-container {
    text-align: center;
  }
  .error-code {
    font-size: 72px;
    font-weight: bold;
    color: #ff6347;
  }
  .error-message {
    font-size: 24px;
    color: #333;
  }
  .error-description {
    font-size: 18px;
    color: #666;
  }
  .back-home {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    position: relative;
  }
  .back-home:hover {
    background-color: #ff4500;
  }